body,html{background:#f7f6f6;height:100%;margin:0;overflow-x:hidden;padding:0}
#nav{background:#000;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Fira Sans,Helvetica Neue,Arial,sans-serif;font-size:16px;font-weight:700;margin-bottom:100px}
#nav-brand{color:#fff;font-family:amiri;font-size:23px;margin-top:6px}
#input[type=search]{border-radius:33px;box-shadow:none;height:27px;margin-right:4px}
.btn{border-radius:26px}
.hover:hover{color:#fff!important}